@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .LEFTCOLUMN
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

body { font-family: 'Roboto', sans-serif; }

a {
  color: #111;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.2s;
}

img { 
  width: 100%; 
  display: block;
}

ul li {
  list-style: none;
  display: inline-block;
}

.wrapper {
  /*max-width: 1093px;*/
  width: 87%;
  margin: auto;
}



/*-----------header----------------*/

h1, nav{ display: inline-block; }

header { 
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; 
  border-bottom: 20px solid #01adef;
  transition: ease-in 0.2s;
}

h1 { 
  box-sizing: border-box;
  width: 23%;
  padding-top: 37px; 
}

nav {
  box-sizing: border-box;
  width: 70%;
  padding: 20px 0;
  vertical-align: top;
}

.btn-default {
  box-sizing: border-box;
  width: 180px;
  padding: 10px 0;
  border: 2px solid #01b053;
  border-radius: 30px; 
  display: block;
  background-color: #fff;
  color: #01b053;
  font-size: 22px;
  text-align: center;
}

.btn-default:hover {
  border: 2px solid #01adef;
  background-color: #01adef;
  color: #fff;
}

.bold { font-weight: 900; }
nav ul { float: right; }
nav li { margin-right: 10px; }


nav li:last-child a {
  border: 2px solid #217b57;
  color: #217b57;
}

.header-bottom a{
  margin-right: 8%; 
  float: right;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: -0.5px;
}

.active {
  border: 2px solid #01adef;
  background-color: #01adef;
  color: #fff;
}


.dropdown {
  width: 6%;
  padding-top: 35px;
  display: inline-block; 
  vertical-align: top;
  position: relative;
}

.hamburger { display: none; }

.dropdown a{
  border-radius: 4px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.dropdown a:before { 
  font-family: "Font Awesome\ 5 Free"; 
  font-weight: 900;
}

.dropdown ul { 
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 120%;
  left: -10px;
  transition: ease-in 0.5s;
}

.open ul { max-height: 100px; }

.dropdown ul a{
  box-sizing: border-box;
  width: 150px;
  border-bottom: 1px solid #fff;
  padding: 10px 10px;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
}

.dropdown li:first-child a{  background-color: #01b053; }
.dropdown li:last-child a{  background-color: #01adef; }
.dropdown li:first-child a:hover{  background-color: #217b56; }
.dropdown li:last-child a:hover{  background-color: #0d7aa4; }

/*------------------------------------------*/



/*----------banner-------------------------*/

.banner .wrapper { width: 83%; }
.banner {
  min-height: calc(100vh - 114px); 
  margin-top: 125px;
  position: relative; 
}

.banner-content {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-image { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}

.bg-image img{ height: 100%; }
h2:first-letter { text-transform: uppercase; }

h2 {
  width: 39%;
  color: #217b57;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.5px;
}


.sticky { border-bottom: 0 solid #fff; }
.padding { margin-top: 125px; }

.fa-angle-down {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%;);
  color: #fff;
  font-size: 40px;
}

.capital { text-transform: uppercase; }

h2 span:after {
  content: " ";
  width: 30px;
  height: 3px;
  display: inline-block;
  vertical-align: middle;
  background-color: #217b57;
}

/*------------------------------------------*/


/*---------------main content---------------------*/


.main-content { padding: 10px 0 15px; }
.main-content .wrapper { width: 84.5%; }

h3:first-letter { text-transform: uppercase; }

h3 {
  width: 60%;
  margin: 0 auto;
  color: #01adef;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
}

.main-content li { 
  width: 100%;
  margin-top: 13px;
  position: relative; 
  display: block;
  overflow: hidden;
}

.main-content .content {
  position: absolute;
  z-index: 1;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  text-align: center;
}

h4 { font-size: 50px; }

.main-content .content a{ 
  padding: 7px 20px;
  border: 2px solid #fff;
  border-radius: 30px;
  display: block;
  color: #fff;
  font-size: 20px;
}

.main-content .content a:hover {
  border: 2px solid #01adef;
  background-color: #01adef;
  color: #fff;
}

.main-content .content a:after {
  content: ' >';
  display: inline-block;
  margin-left: 5px;
}

.btn {
  width: 160px; 
  margin: 25px auto;
  display: block;
}

.btn:hover .image {
  transform: scale(1.2);
}

.main-content li:nth-of-type(2n+1) .content { left: 5%; }
.main-content li:nth-of-type(2n) .content { right: 5%; }
.main-content li:last-child .btn { margin-top: 5px; }

/*------------------------------------------*/


/*---------------footer---------------------*/

.footer-top { background-color: #b2e7f9; }

.column-left {
  box-sizing: border-box;
  width: 42%;
  padding: 20px 0;
  display: inline-block;
  vertical-align: top;
} 

form input{
  display: block;
}

.column-right {
  box-sizing: border-box;
  width: 57%;
  padding: 20px 0;
  display: inline-block;
  vertical-align: top;
} 

.column-left span {
  font-size: 20px;
  display: block;
}

.new-line { display: block; }
.footer-top .bold { display: block; }
form input{ display: block; }

h5 {
  color: #217b57;
  font-size: 45px;
}
/*------------------------------------------*/

/*-------------media queries---------------*/

@media screen and (max-width: 980px) {

  h1 {
    width: 40%;
    max-width: 210px;
    padding: 20px 0;
    float: left;
  }

  nav { 
    max-height: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: ease-in 0.2s;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2 ease-in;
  }

  nav ul { float: none; }  

  nav li {
    display: block; 
    width: 60%;
    margin: 20px auto;
  }

  .btn-default { width: 100%; }
  .header-bottom { display: none; }
  header .wrapper { width: 93%; }

  .banner { 
    min-height: calc(100vh - 80px);
    margin-top: 80px; 
  }

  .dropdown { 
    width: 20%;
    padding: 20px 0;
    margin-left: 8%;
  }

  h2 { width: 100%; }
  
  .hamburger { 
    padding: 20px 0;
    display: inline-block;
    float: right; 
    cursor: pointer;
  }


  .hamburger .bar1,  .hamburger .bar2, .hamburger .bar3 {
    width: 20px;
    height: 3px;
    margin: 3px 0;
    display: block;
    background-color: #111;
    transition: 0.4s;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2 ease-in;
  }

  .cross .bar1 {
    transform: rotate(-45deg) translate(-3px, 7px);
    -webkit-transform: rotate(-45deg) translate(-3px, 7px);
    -moz-transform: rotate(-45deg) translate(-3px, 7px);  
  }

  .cross .bar2 {opacity: 0;}

  .cross .bar3 {
    transform: rotate(45deg) translate(-1px, -6px);
    -webkit-transform: rotate(45deg) translate(-1px, -6px);
    -moz-transform: rotate(45deg) translate(-1px, -6px);
  }

  .mobile { 
    max-height: 100%; 
    padding: 40px 0;
    border-top: 2px solid  #01adef;
    border-bottom: 2px solid  #01adef;
  }
}
